<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/logo2.png') }}" type="image/x-icon">
  <meta name="description" content="">
  
  <title>Home</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/web/assets/mobirise-icons/mobirise-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap-grid.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap-reboot.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/tether/tether.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/dropdown/css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/theme/css/style.css') }}">
  <link rel="preload" as="style" href="{{ url_for('static', filename='assets/mobirise/css/mbr-additional.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/mobirise/css/mbr-additional.css') }}" type="text/css">

  <style>
    html {
    font-size: 14px;
    }
    .loader {
      display: none;
      top: 15%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
    .loading {
      border: 4px solid #ccc;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border-top-color: #1ecd97;
      border-left-color: #1ecd97;
      animation: spin 1s infinite ease-in;
    }
    
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
    }
    </style>
</head>
<body>

  <section class="menu cid-sd39tdr1B3" once="menu" id="menu1-w">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                
                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right navbar-nav-top-padding" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" >
                        </a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="{{ url_for('.home')}}#top"><span class="mbri-home mbr-iconfont mbr-iconfont-btn" style="font-size: 22px;"></span>
                        Home</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="{{ url_for('.home')}}#header16-r"><span class="mbri-file mbr-iconfont mbr-iconfont-btn" style="font-size: 22px;"></span>
                        Fasta File</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="{{ url_for('.info')}}"><span class="mbri-info mbr-iconfont mbr-iconfont-btn" style="font-size: 22px;"></span>
                        Info</a></li></ul>
        </div>
    </nav>
</section>

<section class="header1 cid-sd2NAgXQEh" id="header1-3">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(7, 59, 76);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
              <a style="color:#ffffff" href="{{ url_for('.home')}}"><h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">i6mA-CNN</h1></a>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">N6 -Methyladenine sites Predictor</h3>
            </div>
        </div>
    </div>
</section>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="alert alert-info" style="color: black; background-color:khaki;">
  {% for message in messages %}
    <h6>{{ message }}</h6>
  {% endfor %}
  </div>
{% endif %}
{% endwith %}

<section class="header1 cid-sd35y2w337" id="header16-p">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">Please Upload a Fasta File for Prediction</h3>
                <p class="mbr-text pb-3 mbr-fonts-style display-7"><em>Upload file should contain upto 10000 Sequences.</em></p>
            </div>
            <form action="/" method=POST enctype=multipart/form-data>
                <input type="file" name="fasta" id="fasta">
            <div class="mbr-section-btn">
              <button type="submit" class="btn btn-md btn-black display-4" onclick="spinner()"><span class="mbri-upload mbr-iconfont mbr-iconfont-btn"></span>Upload &amp; Run</button>
            </div>
            </form>
            <div class="loader">
              <div class="loading">
              </div>
            </div>
        </div>
    </div>
</section>

<section class="header1 cid-sd35GpNkob" id="header16-r">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
        
                <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">Sample Fasta file</h3>           
                <p class="mbr-text pb-3 mbr-fonts-style display-7" style="color: black;"><em>
                    You can preview and download sample fasta file containing rice genome sequences, from here:</em></p>
                <div class="mbr-section-btn"> <a class="btn btn-md btn-black-outline display-4"  href="" data-toggle="modal" data-target="#basicModal">Fasta Format</a><a class="btn btn-md btn-black-outline display-4" href="{{ url_for('.return_fasta')}}"><span class="mbri-download mbr-iconfont mbr-iconfont-btn"></span>Fasta File</a></div>
              </div>
              </div>
        </div>
</section>

<section class="header1 cid-sd35T7B6bY" id="header1-s">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-7"><span style="font-weight: normal;"><em>Department of Computer Science and Engineering 
</em></span><div><span style="font-weight: normal;"><em>United International University
</em></span></div><div><span style="font-weight: normal;"><em>Dhaka, Bangladesh
</em></span></div></h1>
                
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-4">
                    Email: swakkhar@cse.uiu.ac.bd, rafeed@cse.uiu.ac.bd
                </p>
                
            </div>
        </div>
    </div>
</section>

 <!-- 2nd Modal -->
 <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div style="height: auto;" class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">FASTA Format Example</h4>
      </div>
      <div style="width:auto;">
        <p style="text-align:left;">
          <br>
          >Seq 1
          TCTACAATTACTGAGTAATAATATAGTATCAAAATTTGATG
          <br>
          >Seq 2
          GTTTTAGAGTTAAGATATAGAGGTGTTAATTGAAAGTGACT
          <br>
          >Seq 3
          CTAGTTTTTAACTTGATTTCATATGGTAAGTAATCATAATC
          <br>
          >Seq 4
          AGCAGAAGATCCACGTACAAAGGGGGCGGTCTATAACAACA
          <br>
          >Seq 5
          GTGGAGTTCTTGTGAATTTCAGCGATCTGTGTGAGAAGTTT
          <br>
          >Seq 6
          GTGTTAAAACAGTGAGAAAGAGGCTGTATTTGGCTTTACTT
          <br>
          >Seq 7
          AGCTTTAGTATCAATTTGCGACCTACTTGGTGCTTGCTCTG
          <br>
          >Seq 8
          TCGAGTTACTAGTTGCAAGCATCGACTTCTCTTAAACTTGC
          <br>
          >Seq 9
          AACTTCCCCAATCGAAGTCGAGTTACTAGTTGCAAGCATCG
          <br>
          >Seq 10
          AACTTCCCCAATCGAAGTCGAGTTACTAGTTGCAAGCATCG
          <br>
          >Seq 11
          TCTACAATTACTGAGTAATAATATAGTATCAAAATTTGATG
          <br>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-black display-4" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script src="{{ url_for('static', filename='assets/web/assets/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/popper/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/tether/tether.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/smoothscroll/smooth-scroll.js')}}"></script>
<script src="{{ url_for('static', filename='assets/dropdown/js/nav-dropdown.js')}}"></script>
<script src="{{ url_for('static', filename='assets/dropdown/js/navbar-dropdown.js')}}"></script>
<script src="{{ url_for('static', filename='assets/touchswipe/jquery.touch-swipe.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/theme/js/script.js')}}"></script>
<script>
   function spinner() {
        document.getElementsByClassName("loader")[0].style.display = "block";
    }
</script>
<script>
$(document).ready(function(){
  $(".alert").delay(10000).slideUp(300);
    });
</script> 
</body>
</html>